name: Docker release deploy

on: [push]

jobs:
  makinage-cpython:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set env
        run: echo "GIT_TAG_REF=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Build and push Docker images
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: makinage/makinage
          dockerfile: ./cpython/Dockerfile
          tags: py.${{ env.GIT_TAG_REF }}

  makinage-cpython-36:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set env
        run: echo "GIT_TAG_REF=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV        
      - name: Build and push Docker images
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: makinage/makinage
          dockerfile: ./cpython/Dockerfile-3.6
          tags: py36.${{ env.GIT_TAG_REF }}
        
        
  makinage-pypy:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set env
        run: echo "GIT_TAG_REF=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV        
      - name: Build and push Docker images
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: makinage/makinage
          dockerfile: ./pypy/Dockerfile
          tags: ${{ env.GIT_TAG_REF }}, pypy.${{ env.GIT_TAG_REF }}

  makinage-serve:  
    needs: makinage-cpython
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set env
        run: echo "GIT_TAG_REF=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV        
      - name: Build and push Docker images
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: makinage/makinage-serve
          path: ./serve
          tags: ${{ env.GIT_TAG_REF }}

  makinage-serve-36:
    needs: makinage-cpython-36    
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set env
        run: echo "GIT_TAG_REF=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV        
      - name: Build and push Docker images
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: makinage/makinage-serve
          path: ./serve
          dockerfile: ./serve/Dockerfile-3.6
          tags: py36.${{ env.GIT_TAG_REF }}
        
  makinage-model-publisher:
    needs: makinage-pypy
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set env
        run: echo "GIT_TAG_REF=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV        
      - name: Build and push Docker images
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: makinage/model-publisher
          path: ./model-publisher
          tags: ${{ env.GIT_TAG_REF }}
        